{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "JSON Config"|t('selectplus'),
    instructions: "The relative path from your `cms/templates` directory"|t('selectplus'),
    id: 'configFile',
    class: ['ltr', 'template'],
    name: 'configFile',
    value: field.configFile ?? null,
    required: true,
    placeholder: "_selectplus/config/simple.json",
    suggestions: [
        { data: options },
    ],
}) }}

<br>
<hr>
<br>

<h2>Need Help Getting Started?</h2>

<p>Try one of these file paths as the <strong>JSON Config</strong> to test out how the field works:</p>

<ul>
    <li><code>_selectplus/config/simple.json</code></li>
    <li><code>_selectplus/config/all-inputs.json</code></li>
    <li><code>_selectplus/config/button-only.json</code></li>
</ul>

<p>
    Additional <a href="https://github.com/simplicateca/craft-selectplus-field/tree/main/src/templates/samples/config" target="_blank">configuration
    examples</a> and <a href="https://github.com/simplicateca/craft-selectplus-field/tree/main" target="_blank">documentation
    available on Github</a>.
</p>
