{## Documentation Template Example
{---------------------------------------------------------------------------------------}
    The following variables are available for use within this (or any other) help
    doc template. This example does not go into the extent of the dynamic content you
    could present within this doc having access to the below field information.
{-------------------------------------------------------------------------------------##}

{## The SelectPlusField object
{-------------------------------------------------------------------------------------##}
{% set field = field ?? null %}
{##-i.e.--------------------------------------------------------------------------------}
    simplicateca\selectplus\fields\SelectPlusField {#1008 ▼
        +name: "Component Type"
        +handle: "variant"
        +required: false
        +configFile: "_config/_variant.json.twig"
        ...
    }
{-------------------------------------------------------------------------------------##}


{## Array of all possible options
{-------------------------------------------------------------------------------------##}
{% set options = options ?? null %}
{##-i.e.--------------------------------------------------------------------------------}
    array:5 [▼
        0 => array:5 [▶]
        1 => array:5 [▶]
        2 => array:5 [▶]
        3 => array:5 [▶]
        4 => array:5 [▶]
    ]
{-------------------------------------------------------------------------------------##}



{## Currently Selected Option
{-------------------------------------------------------------------------------------##}
{% set opt = opt ?? null %}
{##-i.e.--------------------------------------------------------------------------------}
    array:5 [▼
        "value" => "search"
        "label" => "Search Component"
        "tooltips" => array:5 [▶]
        "settings" => []
        "virtuals" => array:5 [▼
            0 => array:6 [▼
                "type" => "select"
                "name" => "pagination"
                "value" => "nextprev"
                "label" => "Paginatation"
                "options" => array:4 [▶]
            ]
            1 => array:5 [▶]
            2 => array:6 [▶]
            3 => array:5 [▶]
            4 => array:6 [▶]
        ]
    ]
{-------------------------------------------------------------------------------------##}

{% if opt.tooltips.inline ?? null %}
    <p class="intro">{{ opt.tooltips.inline | markdown | retconChange( 'p', false ) }}</p>
{% endif %}

<div class="settings-grid">
    <div>
    {% if opt.virtuals ?? null %}
        <h2>Configurable Settings</h2>
        <ul>
            {% for virt in opt.virtuals %}
                <li><Strong>{{ virt.label }}</strong><br>{{ virt.instructions }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <div>
        {% if opt.settings ?? null %}
            <h2>Settings Tokens</h2>
            <code>
                {{ dump( opt.settings )}}
            </code>
        {% endif %}
    </div>
</div>

<p><strong>ACTUAL TIP</strong> - Add your own "non-standard" keys to the `tooltips` config and use them as populate the `helptwig` template file.</p>

<br>
<h2>A Helpful Video!</h2>
<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/x5bVKZxFdPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="mx-auto"></iframe>
</div>